@model Template
@{
    var image = string.IsNullOrWhiteSpace(Model.Image)
            ? "/images/image_1.jpg"
            : $"{Model.Image}";
}
<article class="blog-entry mb-4">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-height:300px;object-fit:cover;" src="@image"
                     class="card-img"

                     alt="@Model.Name" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title ">
                        
                        @Model.Name
                        
                    </h5>
                   
                    
                  

                    <div class="text-end">
                        <a
                           class="btn btn-primary"
                           title="@Model.Name">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>